/* login */
.main {
  flex: 1 1 0%;
}

.main-login {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.login_page{
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-y: hidden;
}


.to_travle_img {
  width: 85px;
  align-items: center;
}

.col-style {
  display: flex;
  flex-direction: column;
  gap: 2px;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  /* margin-bottom: 245px; */
  text-align: center;
}

.title-style {
  font-size: 30px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.64px;
  word-break: break-all;
  white-space: pre-wrap;
}

.main-btn {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: auto;
}

.first-btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 0px;
  padding: 16px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: rgb(254, 229, 0);
  border: 1px solid rgb(254, 229, 0);
  border-radius: 10px;
  transition: background-color 0.3s ease-out 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.kakao-style {
  width: 15px;
  height: 15px;
}

.kakao-str {
  user-select: none;
  -webkit-user-drag: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(37, 37, 37);
  letter-spacing: -0.32px;
}

.cursor-style {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.25s ease-in-out 0s;
}

.second-btn {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 0px;
  padding: 16px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(37, 37, 37);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 10px;
  transition: background-color 0.3s ease-out 0s;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.envelop-style {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.25s ease-in-out 0s;
}

.second-str {
  user-select: none;
  -webkit-user-drag: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(37, 37, 37);
  letter-spacing: -0.32px;
}

.main-str {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin: 24px 0px 0px;
}

.q-str {
  user-select: none;
  -webkit-user-drag: none;
  font-size: 14px;
  line-height: 21px;
  color: rgb(106, 106, 106);
  letter-spacing: -0.28px;
}

.signup-str {
  cursor: pointer;
  margin-left: 6px;
  color: rgb(0, 206, 124);
  text-decoration: underline;
}
