/* main - login form */

main .w-60{
  width: 60%!important;
}

main .text-style {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem!important;
}

main .input-style {
  margin-bottom: 12px;
}

main .btn-style {
  font-size: 15px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: rgb(219, 219, 219);
}

main .btn-style:hover {
  color: black;
  background: #00ce7c;
}

main .last-line {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-top: 10px;
}

main .find-line {
  position: relative;
  display: flex;
  gap: 22px;
  -webkit-box-align: center;
  align-items: center;
  width: max-content;
}

main .find-info {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: rgb(154, 154, 154);
  letter-spacing: -0.28px;
}

main .find-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 74px;
  transform: translateY(-50%);
  display: block;
  width: 2px;
  height: 2px;
  background-color: rgb(154, 154, 154);
  border-radius: 2px;
}

main .sign-up {
  user-select: none;
  -webkit-user-drag: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  color: rgb(154, 154, 154);
  letter-spacing: -0.28px;
}