/* main - sign-up */
textarea::placeholder,
input::placeholder,
select,
input {
  font-size: 14px !important;
}

main .text-style {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 1rem !important;
}

main .input-content {
  display: flex;
  justify-content: center;
}

main .entry-required {
  margin: 35px 0px 10px;
  font-size: 20px;
  font-weight: 700;
}


main .form-label-md {
  color: transparent;
  margin-bottom: 0.5rem;
}